<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="dashboard.css" />
    <title>Dashboard</title>
  </head>
  <body>
    <nav>
      <div class="logo-box">
        <img src="/assets/logo.svg" alt="" />
      </div>
      <div class="main-nav-box">
        <div class="ham-burger-svg-box">
          <svg
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            viewBox="0 0 448 512"
            height="1em"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12.83 352h262.34A12.82 12.82 0 0 0 288 339.17v-38.34A12.82 12.82 0 0 0 275.17 288H12.83A12.82 12.82 0 0 0 0 300.83v38.34A12.82 12.82 0 0 0 12.83 352zm0-256h262.34A12.82 12.82 0 0 0 288 83.17V44.83A12.82 12.82 0 0 0 275.17 32H12.83A12.82 12.82 0 0 0 0 44.83v38.34A12.82 12.82 0 0 0 12.83 96zM432 160H16a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16zm0 256H16a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16z"
            ></path>
          </svg>
        </div>
        <h3><b>Dashboard</b></h3>
        <div class="buttons-user-nav">
          <button type="button" class="logout-button">
            <div class="user-icon-svg">
              <svg
                stroke="currentColor"
                fill="currentColor"
                stroke-width="0"
                viewBox="0 0 496 512"
                height="1em"
                width="1em"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 96c48.6 0 88 39.4 88 88s-39.4 88-88 88-88-39.4-88-88 39.4-88 88-88zm0 344c-58.7 0-111.3-26.6-146.5-68.2 18.8-35.4 55.6-59.8 98.5-59.8 2.4 0 4.8.4 7.1 1.1 13 4.2 26.6 6.9 40.9 6.9 14.3 0 28-2.7 40.9-6.9 2.3-.7 4.7-1.1 7.1-1.1 42.9 0 79.7 24.4 98.5 59.8C359.3 421.4 306.7 448 248 448z"
                ></path>
              </svg>
            </div>
            <span class="user-name">User Name</span>
            <div class="dropdown-icon-svg">
              <svg
                stroke="currentColor"
                fill="currentColor"
                stroke-width="0"
                viewBox="0 0 320 512"
                height="1em"
                width="1em"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"
                ></path>
              </svg>
            </div>
          </button>
          <button type="button" class="button-log-out popup">Log Out</button>
        </div>
      </div>
    </nav>
    <div class="main-grid">
      <aside>
        <div class="side-bar">
          <ul>
            <li
              class="side-bar-item active-button-side"
              data-target="Statistics-BOX"
            >
              <button type="button" class="button-stats">
                <div class="svg-icon-box svg-stats">
                  <svg
                    stroke="currentColor"
                    fill="currentColor"
                    stroke-width="0"
                    viewBox="0 0 512 512"
                    height="1em"
                    width="1em"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path d="M496 496H16V16h32v448h448v32z"></path>
                    <path
                      d="M192 432H80V208h112zm144 0H224V160h112zm143.64 0h-112V96h112z"
                    ></path>
                  </svg>
                </div>
                <span class="text text-stats">Stats</span>
              </button>
            </li>
            <li class="side-bar-item" data-target="AllJobs-BOX">
              <button type="button" class="button-jobs">
                <div class="svg-icon-box svg-all-jobs">
                  <svg
                    stroke="currentColor"
                    fill="currentColor"
                    stroke-width="0"
                    viewBox="0 0 24 24"
                    height="1em"
                    width="1em"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path fill="none" d="M0 0h24v24H0z"></path>
                    <path
                      d="M19.88 18.47c.44-.7.7-1.51.7-2.39 0-2.49-2.01-4.5-4.5-4.5s-4.5 2.01-4.5 4.5 2.01 4.5 4.49 4.5c.88 0 1.7-.26 2.39-.7L21.58 23 23 21.58l-3.12-3.11zm-3.8.11a2.5 2.5 0 010-5 2.5 2.5 0 010 5zm-.36-8.5c-.74.02-1.45.18-2.1.45l-.55-.83-3.8 6.18-3.01-3.52-3.63 5.81L1 17l5-8 3 3.5L13 6l2.72 4.08zm2.59.5c-.64-.28-1.33-.45-2.05-.49L21.38 2 23 3.18l-4.69 7.4z"
                    ></path>
                  </svg>
                </div>
                <span class="text">All Jobs</span>
              </button>
            </li>
            <li class="side-bar-item" data-target="AddJob-BOX">
              <button type="button" class="button-add-job">
                <div class="svg-icon-box svg-add-job">
                  <svg
                    stroke="currentColor"
                    fill="currentColor"
                    stroke-width="0"
                    viewBox="0 0 448 512"
                    height="1em"
                    width="1em"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M448 75.2v361.7c0 24.3-19 43.2-43.2 43.2H43.2C19.3 480 0 461.4 0 436.8V75.2C0 51.1 18.8 32 43.2 32h361.7c24 0 43.1 18.8 43.1 43.2zm-37.3 361.6V75.2c0-3-2.6-5.8-5.8-5.8h-9.3L285.3 144 224 94.1 162.8 144 52.5 69.3h-9.3c-3.2 0-5.8 2.8-5.8 5.8v361.7c0 3 2.6 5.8 5.8 5.8h361.7c3.2.1 5.8-2.7 5.8-5.8zM150.2 186v37H76.7v-37h73.5zm0 74.4v37.3H76.7v-37.3h73.5zm11.1-147.3l54-43.7H96.8l64.5 43.7zm210 72.9v37h-196v-37h196zm0 74.4v37.3h-196v-37.3h196zm-84.6-147.3l64.5-43.7H232.8l53.9 43.7zM371.3 335v37.3h-99.4V335h99.4z"
                    ></path>
                  </svg>
                </div>
                <span class="text">Add Job</span>
              </button>
            </li>
            <li class="side-bar-item" data-target="Profile-BOX">
              <button type="button" class="button-profile">
                <div class="svg-icon-box svg-profile">
                  <svg
                    stroke="currentColor"
                    fill="currentColor"
                    stroke-width="0"
                    version="1.1"
                    viewBox="0 0 16 16"
                    height="1em"
                    width="1em"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M13.5 0h-12c-0.825 0-1.5 0.675-1.5 1.5v13c0 0.825 0.675 1.5 1.5 1.5h12c0.825 0 1.5-0.675 1.5-1.5v-13c0-0.825-0.675-1.5-1.5-1.5zM13 14h-11v-12h11v12zM4 9h7v1h-7zM4 11h7v1h-7zM5 4.5c0-0.828 0.672-1.5 1.5-1.5s1.5 0.672 1.5 1.5c0 0.828-0.672 1.5-1.5 1.5s-1.5-0.672-1.5-1.5zM7.5 6h-2c-0.825 0-1.5 0.45-1.5 1v1h5v-1c0-0.55-0.675-1-1.5-1z"
                    ></path>
                  </svg>
                </div>
                <span class="text">Profile</span>
              </button>
            </li>
          </ul>
        </div>
      </aside>
      <div class="main-content">
        <div class="stats-box main-box" data-name="Statistics-BOX">
          <div class="jobs-count-boxes-wrapper">
            <div class="pending-jobs-box jobs-box">
              <div class="jobs-count-wrapper">
                <span class="pending-jobs-count jobs-count">0</span>
                <div class="pending-jobs-svg-box category-svg-box">
                  <svg
                    stroke="currentColor"
                    fill="currentColor"
                    stroke-width="0"
                    viewBox="0 0 384 512"
                    height="1em"
                    width="1em"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M336 160H48c-26.51 0-48 21.49-48 48v224c0 26.51 21.49 48 48 48h16v16c0 8.84 7.16 16 16 16h32c8.84 0 16-7.16 16-16v-16h128v16c0 8.84 7.16 16 16 16h32c8.84 0 16-7.16 16-16v-16h16c26.51 0 48-21.49 48-48V208c0-26.51-21.49-48-48-48zm-16 216c0 4.42-3.58 8-8 8H72c-4.42 0-8-3.58-8-8v-16c0-4.42 3.58-8 8-8h240c4.42 0 8 3.58 8 8v16zm0-96c0 4.42-3.58 8-8 8H72c-4.42 0-8-3.58-8-8v-16c0-4.42 3.58-8 8-8h240c4.42 0 8 3.58 8 8v16zM144 48h96v80h48V48c0-26.51-21.49-48-48-48h-96c-26.51 0-48 21.49-48 48v80h48V48z"
                    ></path>
                  </svg>
                </div>
              </div>
              <p class="category-heading">Pending Applications</p>
            </div>
            <div class="interview-jobs-box jobs-box">
              <div class="jobs-count-wrapper">
                <span class="interview-jobs-count jobs-count">0</span>
                <div class="interview-jobs-svg-box category-svg-box">
                  <svg
                    stroke="currentColor"
                    fill="currentColor"
                    stroke-width="0"
                    viewBox="0 0 448 512"
                    height="1em"
                    width="1em"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M436 160H12c-6.627 0-12-5.373-12-12v-36c0-26.51 21.49-48 48-48h48V12c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v52h128V12c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v52h48c26.51 0 48 21.49 48 48v36c0 6.627-5.373 12-12 12zM12 192h424c6.627 0 12 5.373 12 12v260c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48V204c0-6.627 5.373-12 12-12zm333.296 95.947l-28.169-28.398c-4.667-4.705-12.265-4.736-16.97-.068L194.12 364.665l-45.98-46.352c-4.667-4.705-12.266-4.736-16.971-.068l-28.397 28.17c-4.705 4.667-4.736 12.265-.068 16.97l82.601 83.269c4.667 4.705 12.265 4.736 16.97.068l142.953-141.805c4.705-4.667 4.736-12.265.068-16.97z"
                    ></path>
                  </svg>
                </div>
              </div>
              <p class="category-heading">Interviews Scheduled</p>
            </div>
            <div class="declined-jobs-box jobs-box">
              <div class="jobs-count-wrapper">
                <span class="declined-jobs-count jobs-count">0</span>
                <div class="declined-jobs-svg-box category-svg-box">
                  <svg
                    stroke="currentColor"
                    fill="currentColor"
                    stroke-width="0"
                    viewBox="0 0 512 512"
                    height="1em"
                    width="1em"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M511.988 288.9c-.478 17.43-15.217 31.1-32.653 31.1H424v16c0 21.864-4.882 42.584-13.6 61.145l60.228 60.228c12.496 12.497 12.496 32.758 0 45.255-12.498 12.497-32.759 12.496-45.256 0l-54.736-54.736C345.886 467.965 314.351 480 280 480V236c0-6.627-5.373-12-12-12h-24c-6.627 0-12 5.373-12 12v244c-34.351 0-65.886-12.035-90.636-32.108l-54.736 54.736c-12.498 12.497-32.759 12.496-45.256 0-12.496-12.497-12.496-32.758 0-45.255l60.228-60.228C92.882 378.584 88 357.864 88 336v-16H32.666C15.23 320 .491 306.33.013 288.9-.484 270.816 14.028 256 32 256h56v-58.745l-46.628-46.628c-12.496-12.497-12.496-32.758 0-45.255 12.498-12.497 32.758-12.497 45.256 0L141.255 160h229.489l54.627-54.627c12.498-12.497 32.758-12.497 45.256 0 12.496 12.497 12.496 32.758 0 45.255L424 197.255V256h56c17.972 0 32.484 14.816 31.988 32.9zM257 0c-61.856 0-112 50.144-112 112h224C369 50.144 318.856 0 257 0z"
                    ></path>
                  </svg>
                </div>
              </div>
              <p class="category-heading">Jobs Declined</p>
            </div>
          </div>
          <h3 class="heading-applicaitons">Monthly Applications</h3>
          <div class="chart-name-box">
            <h3 class="chart-name">Area Chart</h3>
          </div>
          <div class="charts-box">
            <span class="loader-charts"></span>
            <canvas id="jobsBarChart"></canvas>
            <canvas id="jobsAreaChart"></canvas>
          </div>
        </div>
        <div class="all-jobs-box main-box non-active" data-name="AllJobs-BOX">
          <section class="search-container">
            <h2>Search Form</h2>
            <form class="search-form" id="search-form">
              <div class="form-fields">
                <div class="form-control">
                  <label for="search">Search</label>
                  <input
                    type="text"
                    id="search"
                    name="search"
                    class="form-input"
                  />
                </div>

                <div class="form-control">
                  <label for="status">Status</label>
                  <select id="status" name="status" class="form-select">
                    <option value="all">all</option>
                    <option value="pending">pending</option>
                    <option value="interview">interview</option>
                    <option value="declined">declined</option>
                  </select>
                </div>

                <div class="form-control">
                  <label for="type">Type</label>
                  <select id="type" name="type" class="form-select">
                    <option value="all">all</option>
                    <option value="full-time">full-time</option>
                    <option value="part-time">part-time</option>
                    <option value="remote">remote</option>
                    <option value="internship">internship</option>
                  </select>
                </div>

                <div class="form-control">
                  <label for="sort">Sort</label>
                  <select id="sort" name="sort" class="form-select">
                    <option value="latest">latest</option>
                    <option value="oldest">oldest</option>
                    <option value="a-z">a-z</option>
                    <option value="z-a">z-a</option>
                  </select>
                </div>

                <div class="spacer"></div>

                <button type="button" class="clear-btn">Clear Filters</button>
              </div>
            </form>
          </section>
          <section class="jobs-display-section">
            <div class="loader"></div>
            <div class="count-cards-wrapper">
              <h3 class="total-jobs-count">0 Jobs Found</h3>
              <div class="no-jobs-container non-active">
                <h5>No Jobs Found.</h5>
                <button type="button" class="back-jobs-btn">
                  Back to All Jobs
                </button>
              </div>
              <div class="jobs-cards-box"></div>
            </div>
          </section>
          <div class="pagination-box">
            <button class="pagination-button" id="prev-btn" disabled>
              &laquo; Prev
            </button>
            <ul class="page-list"></ul>
            <button class="pagination-button" id="next-btn">
              Next &raquo;
            </button>
          </div>
        </div>
        <div class="add-job-box main-box non-active" data-name="AddJob-BOX">
          <main class="form-container">
            <h3>Add Job</h3>
            <form class="job-form">
              <div class="form-grid">
                <div class="form-group">
                  <label for="position">Position</label>
                  <input type="text" id="position" />
                </div>

                <div class="form-group">
                  <label for="company">Company</label>
                  <input type="text" id="company" />
                </div>

                <div class="form-group">
                  <label for="location">Job Location</label>
                  <input type="text" id="location" />
                </div>

                <div class="form-group">
                  <label for="statusAddJob">Status</label>
                  <select id="statusAddJob">
                    <option value="pending" selected>pending</option>
                    <option value="interview">interview</option>
                    <option value="declined">declined</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="jobType">Job Type</label>
                  <select id="jobType">
                    <option value="full-time" selected>full-time</option>
                    <option value="part-time">part-time</option>
                    <option value="remote">remote</option>
                    <option value="internship">internship</option>
                  </select>
                </div>

                <div class="form-buttons">
                  <button type="button" class="btn btn-clear">Clear</button>
                  <button type="submit" class="btn btn-submit">
                    <span class="submit-text"> Submit </span>
                    <div class="loader-submit-btn"></div>
                  </button>
                </div>
              </div>
            </form>
          </main>
        </div>
        <div class="profile-box main-box non-active" data-name="Profile-BOX">
          <main class="profile-card">
            <h3>Profile</h3>
            <div class="profile-layout">
              <div class="input-field">
                <label for="name">Name</label>
                <input type="text" id="name" value="test user" />
              </div>

              <div class="input-field">
                <label for="email">Email</label>
                <input type="text" id="email" value="testUser@test.com" />
              </div>

              <div class="input-field">
                <label for="location">Location</label>
                <input type="text" id="locationUser" value="" />
              </div>

              <div class="button-field">
                <button type="button" class="save-profile-btn">
                  <div class="loader-save-changesBtn"></div>
                 <span class="save-changes-text">Save Changes</span>
                </button>
              </div>  
            </div>
          </main>
        </div>
      </div>
    </div>
    <div class="confirmation-box" id="confirmBox">
      <div class="confirmation-content">
        <h3>Delete Job?</h3>
        <p>
          Are you sure you want to delete this job? This action cannot be
          undone.
        </p>
        <div class="confirmation-actions">
          <button class="cancel-btn" id="cancelDelete">Cancel</button>
          <button class="confirm-btn" id="confirmDelete">Delete</button>
        </div>
      </div>
    </div>
    <div class="notification-box">
      <div class="message-box-content">
        <div class="notification-icon-box">
          <svg
            viewBox="0 0 512 512"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            fill="#000000"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <title>success-filled</title>
              <g
                id="Page-1"
                stroke="none"
                stroke-width="1"
                fill="none"
                fill-rule="evenodd"
              >
                <g
                  id="add-copy-2"
                  fill="#07bc0c"
                  transform="translate(42.666667, 42.666667)"
                >
                  <path
                    d="M213.333333,3.55271368e-14 C95.51296,3.55271368e-14 3.55271368e-14,95.51296 3.55271368e-14,213.333333 C3.55271368e-14,331.153707 95.51296,426.666667 213.333333,426.666667 C331.153707,426.666667 426.666667,331.153707 426.666667,213.333333 C426.666667,95.51296 331.153707,3.55271368e-14 213.333333,3.55271368e-14 Z M293.669333,137.114453 L323.835947,167.281067 L192,299.66912 L112.916693,220.585813 L143.083307,190.4192 L192,239.335893 L293.669333,137.114453 Z"
                    id="Shape"
                  ></path>
                </g>
              </g>
            </g>
          </svg>
        </div>
        <div class="message-box">Invalid Request</div>
        <div class="close-button">
          <svg
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <rect width="24" height="24" fill="none"></rect>
              <path
                d="M7 17L16.8995 7.10051"
                stroke="#878282"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
              <path
                d="M7 7.00001L16.8995 16.8995"
                stroke="#878282"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </g>
          </svg>
        </div>
      </div>
      <div class="loading-bar"></div>
    </div>
    <script src="/chart.umd.min.js"></script>
    <script type="module" src="dashboard.js"></script>
  </body>
</html>
