<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Jobster</title>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <img src="assets/logo.svg" alt="logo" />
      </div>
    </nav>
    <main>
      <div class="jobster-home-content">
        <div class="jobster-content-wrapper">
          <h1>Job <span>Tracking</span> App</h1>
          <p>
            Crucifix narwhal street art asymmetrical, humblebrag tote bag pop-up
            fixie raclette taxidermy craft beer. Brunch bitters synth, VHS
            crucifix heirloom meggings bicycle rights.
          </p>
          <div class="button-wrapper">
            <button class="log-reg-button">
              <a href="/login">Login/Register</a>
            </button>
          </div>
        </div>
        <div class="jobster-image-wrapper">
          <img src="assets/mainImage.svg" alt="jobster" />
        </div>
      </div>
    </main>
    <script src="script.js"></script>
  </body>
</html>
