* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
}
html,
body {
  height: 100%;
  overflow-x: hidden;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
nav {
  padding: 25px;
  user-select: none;
}
nav {
  display: flex;
}
.logo-box {
  width: 20%;
}
.main-nav-box {
  padding-right: 30px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s ease;
}
.ham-burger-svg-box svg {
  fill: #3b82f6;
  width: 28px;
  height: 28px;
}
nav h3 {
  font-weight: 300;
  font-size: 32px;
}

.logout-button {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  gap: 8px;
  border-style: none;
  border-radius: 5px;
  background: #3b82f6;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.logout-button:hover {
  background-color: #1d4ed8;
}

.logout-button svg {
  width: 16px;
  height: 16px;
  vertical-align: top;
}
.ham-burger-svg-box {
  cursor: pointer;
}

.side-bar {
  padding-top: 1rem;
  width: 250px;
  color: #627d98;
  height: 100%;
  user-select: none;
}
.side-bar-item button {
  color: #627d98;
  width: 100%;
  display: flex;
  font-size: 18px;
  background-color: white;
  border-style: none;
  padding: 16px 0 16px 40px;
  gap: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.text {
  font-size: 18px;
}

.side-bar-item button:hover {
  background-color: #f0f4f8;
  padding-left: 50px;
}

.svg-icon-box svg {
  width: 24px;
  height: 24px;
}

.main-grid {
  display: grid;
  grid-template-columns: 250px 1fr;
  flex-grow: 1;
}

.main-content {
  border-left: 1px solid rgb(206, 200, 200);
  border-top: 1px solid rgb(206, 200, 200);
  background-color: #f0f4f8;
}

.main-grid {
  display: grid;
  grid-template-columns: 250px 1fr;
  transition: all 0.5s ease;
}

.main-grid {
  display: grid;
  grid-template-columns: 250px 1fr;
  transition: grid-template-columns 0.5s ease;
}

.main-grid {
  display: grid;
  grid-template-columns: 250px 1fr;
  transition: grid-template-columns 0.3s ease;
}

.side-bar {
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.logo-box {
  transition: all 0.5s ease;
}

.main-grid.collapsed {
  grid-template-columns: 0px 1fr;
}

.main-grid.collapsed .side-bar {
  transform: translateX(-300%);
}

.logo-box.hidden {
  transform: translateX(-300%);
  width: 5%;
  overflow: hidden;
}

.main-nav-box.non-collapsed {
  width: 95%;
}

.button-log-out {
  display: none;
  padding: 8px 30px;
  gap: 8px;
  border-style: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  background-color: #bfdbfe;
  color: #3b82f6;
  position: absolute;
  top: 135%;
  left: 10%;
  z-index: 9999;
  transition: all 0.3s ease-in-out;
}

.button-log-out.show {
  display: block;
}

.buttons-user-nav {
  position: relative;
}

.button-log-out:hover {
  color: white;
  background-color: #1d4ed8;
}

.jobs-count-boxes-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 4rem;
}

.stats-box {
  padding: 1rem;
}
.jobs-box {
  background-color: white;
  max-width: 380px;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 5px;
}
.jobs-count-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.jobs-count {
  font-weight: 700;
  font-size: 50px;
}
.category-heading {
  letter-spacing: 1px;
  font-size: 20px;
  color: black;
}
.category-svg-box svg {
  width: 32px;
  height: 32px;
}
.category-svg-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 60px;
}

.pending-jobs-svg-box {
  background-color: rgb(252, 239, 199);
}
.pending-jobs-svg-box svg {
  fill: rgb(233, 185, 73);
}
.pending-jobs-count {
  color: rgb(233, 185, 73);
}

.pending-jobs-box {
  border-bottom: 5px solid rgb(233, 185, 73);
}
.interview-jobs-svg-box {
  background-color: rgb(224, 232, 249);
}
.interview-jobs-svg-box svg {
  fill: rgb(100, 122, 203);
}
.interview-jobs-count {
  color: rgb(100, 122, 203);
}

.interview-jobs-box {
  border-bottom: 5px solid rgb(100, 122, 203);
}
.declined-jobs-svg-box {
  background-color: rgb(255, 238, 238);
}
.declined-jobs-svg-box svg {
  fill: rgb(214, 106, 106);
}
.declined-jobs-count {
  color: rgb(214, 106, 106);
}

.declined-jobs-box {
  border-bottom: 5px solid rgb(214, 106, 106);
}
.heading-applicaitons {
  text-align: center;
  margin-bottom: 0.75rem;
  font-weight: 400;
  font-size: 24px;
}

.jobs-count-wrapper {
  font-size: 50px;
  font-weight: 800;
}
.chart-name {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 400;
  font-size: 20px;
  color: #3b82f6;
  cursor: pointer;
  user-select: none;
}

.charts-box {
  position: relative;
  width: 100%;
  height: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.charts-box canvas {
  width: 100% !important;
  height: 100% !important;
}
.chart-name-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-charts {
  position: absolute;
  z-index: 9999;
  width: 48px;
  height: 48px;
  border: 5px solid #136eff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader {
  position: absolute;
  z-index: 9999;
  width: 140px;
  height: 140px;
  border: 10px solid #136eff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  left: 50%;
  top: 75%;
}

.non-active {
  display: none;
}
.pagination-box.non-active {
  display: none;
}
.active-button-side .svg-icon-box svg {
  color: #3b82f6;
}

.active-button-side .text {
  color: black;
}

.search-container {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
  max-width: 1120px;
}

.search-container h2 {
  font-weight: 400;
  margin-bottom: 1.5rem;
  color: #1e293b;
}

.form-fields {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem 5rem;
  align-items: end;
}

.form-control {
  display: flex;
  flex-direction: column;
}

.form-control label {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  color: #334155;
}

.form-input,
.form-select {
  width: 100%;
  padding: 0.5rem 0.75rem;
  background: #f8f9fa;
  border: 1px solid #e2e8f0;
  border-radius: 4px;
  font-size: 1rem;
  color: #475569;
}

.clear-btn {
  width: 100%;
  padding: 0.5rem 0.75rem;
  background: #f8d7da;
  color: #721c24;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  transition: background-color 0.3s ease;
}

.clear-btn:hover {
  background: #f1c6c9;
}

.spacer {
  display: none;
}

.jobs-cards-box {
  width: 100%;
  display: grid;
  padding: 1rem;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.5rem;
  justify-items: center;
}

.jobs-display-section {
  padding: 3rem;
  padding-top: 1rem;
}

.job-card {
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid #e2e8f0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding: 24px;
  width: 100%;
  max-width: 500px;
}

.card-header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.card-header .logo {
  width: 40px;
  height: 40px;
  background-color: #3b82f6;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  border-radius: 6px;
  margin-right: 12px;
}

.card-header .title-group {
  line-height: 1.4;
}

.card-header .job-title {
  font-size: 16px;
  font-weight: 600;
  color: #1f2937;
  margin: 0;
}

.card-header .company-name {
  font-size: 14px;
  color: #6b7280;
  margin: 0;
}

.card-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-bottom: 20px;
  border-top: 1px solid #f3f4f6;
  padding-top: 20px;
}

.info-item {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #374151;
}

.info-item i {
  color: #9ca3af;
  margin-right: 8px;
  width: 16px;
  text-align: center;
}

.status {
  font-size: 15px;
  font-weight: 500;
  padding: 4px 10px;
  border-radius: 12px;
  text-transform: capitalize;
}

.status-declined {
  background-color: #fee2e2;
  color: #dc2626;
}

.status-interview {
  background-color: #e0e7ff;
  color: #4f46e5;
}

.status-pending {
  background-color: #fef9c3;
  color: #ca8a04;
}

.status-hired {
  background-color: #e0e7ff;
  color: #4f46e5;
}

.card-footer {
  display: flex;
  gap: 10px;
}

.btn {
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.btn:hover {
  opacity: 0.8;
}

.btn-edit {
  background-color: #d1fae5;
  color: #065f46;
}

.btn-delete {
  background-color: #fee2e2;
  color: #991b1b;
}
.count-cards-wrapper {
  margin: 1rem;
}
.pagination-box {
  justify-content: flex-end;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
}

.main-box {
  padding-bottom: 2rem;
}

.pagination-button,
.back-jobs-btn {
  background-color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 12px 18px;
  font-size: 15px;
  font-weight: 600;
  color: #4285f4;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: all 0.2s ease;
}

.back-jobs-btn:hover {
  color: white;
  background-color: #136eff;
}
.pagination-button:hover {
  background-color: #fcfcfc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.pagination-button:disabled {
  color: #b0bec5;
  background-color: #f5f5f5;
  cursor: not-allowed;
  box-shadow: none;
}

.page-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  background-color: #eaf3ff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}

.page-link {
  background: transparent;
  border: none;
  padding: 12px 18px;
  font-size: 15px;
  font-weight: 600;
  color: #4285f4;
  cursor: pointer;
  transition: all 0.2s ease;
}

.page-link.active {
  background-color: #4285f4;
  color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(66, 133, 244, 0.3);
}

.page-list li:first-child .page-link:not(.active) {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
#next-btn {
  margin-right: 20px;
}
.page-list li:last-child .page-link:not(.active) {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.page-link:not(.active):hover {
  background-color: #dcebff;
}

.no-jobs-container h5 {
  font-size: 50px;
  text-align: center;
  color: #136eff;
}

.no-jobs-container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.no-jobs-container.non-active {
  display: none;
}

.back-jobs-btn {
  width: max-content;
}

.confirmation-box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.confirmation-content {
  background-color: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  width: 350px;
  text-align: center;
  animation: fadeIn 0.3s ease;
}

.confirmation-content h3 {
  margin-bottom: 10px;
  color: #1f2937;
  font-size: 18px;
  font-weight: 600;
}

.confirmation-content p {
  color: #6b7280;
  margin-bottom: 20px;
  font-size: 15px;
}

.confirmation-actions {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.confirm-btn,
.cancel-btn {
  background-color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 10px 18px;
  font-size: 15px;
  font-weight: 600;
  color: #4285f4;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: all 0.2s ease;
}

.confirm-btn:hover,
.cancel-btn:hover {
  background-color: #fcfcfc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.confirm-btn {
  color: #dc2626;
}

.notification-box {
  position: fixed;
  top: 20px;
  left: 50%;
  z-index: 9999;
  background-color: white;
  color: #5d6067;
  font-size: 16px;
  max-width: 350px;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding-bottom: 0;
  border-radius: 5px;
  transform: translateY(-1000px);
  transition: transform 1s ease;
  cursor: pointer;
}

.notification-icon-box svg {
  width: 36px;
  height: 36px;
}

.message-box-content {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px;
}

.close-button {
  height: 25px;
  width: 25px;
  align-self: flex-start;
  margin-left: auto;
  cursor: pointer;
  flex-shrink: 0;
}

.loading-bar {
  height: 5px;
  background: #07bc0c;
  margin-bottom: auto;
  width: 0%;
  transition: all 0.3s ease;
}

.form-container {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding: 2.5rem;
  width: 100%;
  max-width: 1120px;
  margin: 3rem auto;
}

.form-container h3 {
  font-size: 1.75rem;
  font-weight: 600;
  color: #1e293b;
  margin-bottom: 2rem;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem 3rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 0.875rem;
  color: #475569;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

.form-group input[type="text"],
.form-group select {
  width: 100%;
  padding-left: 0.75rem;
  background-color: #f0f4f8;
  border: 1px solid #cbd5e1;
  border-radius: 4px;
  font-size: 0.9rem;
  color: #334155;
  font-family: "Inter", Arial, sans-serif;
  height: 35px;
}

.form-group input[value="vegan food truck"] {
  color: #334155;
}

.form-buttons {
  display: flex;
  gap: 0.75rem;
  align-items: flex-end;
}

.btn {
  width: 100px;
  padding: 0.75rem 0;
  border: none;
  border-radius: 4px;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-clear {
  background-color: #64748b;
  color: #ffffff;
}

.btn-submit {
  background-color: #3b82f6;
  color: #ffffff;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
