* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
}
html,
body {
  height: 100%;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
nav {
  padding: 25px;
}
nav {
  display: flex;
}
.logo-box {
  width: 20%;
}
.main-nav-box {
  padding-right: 30px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s ease;
}
.ham-burger-svg-box svg {
  fill: #3b82f6;
  width: 28px;
  height: 28px;
}
nav h3 {
  font-weight: 300;
  font-size: 32px;
}

.logout-button {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  gap: 8px;
  border-style: none;
  border-radius: 5px;
  background: #3b82f6;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.logout-button:hover {
  background-color: #1d4ed8;
}

.logout-button svg {
  width: 16px;
  height: 16px;
  vertical-align: top;
}
.ham-burger-svg-box {
  cursor: pointer;
}

.side-bar {
  padding-top: 1rem;
  width: 250px;
  color: #627d98;
  height: 100%;
}
.side-bar-item button {
  color: #627d98;
  width: 100%;
  display: flex;
  font-size: 18px;
  background-color: white;
  border-style: none;
  padding: 16px 0 16px 40px;
  gap: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.side-bar-item button:hover {
  background-color: #f0f4f8;
  padding-left: 50px;
}

.svg-icon-box svg {
  width: 24px;
  height: 24px;
}

.main-grid {
  display: grid;
  grid-template-columns: 250px 1fr;
  flex-grow: 1;
}

.main-content {
  border-left: 1px solid rgb(206, 200, 200);
  border-top: 1px solid rgb(206, 200, 200);
  background-color: #f0f4f8;
}

.main-grid {
  display: grid;
  grid-template-columns: 250px 1fr;
  transition: all 0.5s ease;
}

.main-grid {
  display: grid;
  grid-template-columns: 250px 1fr;
  transition: grid-template-columns 0.5s ease;
}

.main-grid {
  display: grid;
  grid-template-columns: 250px 1fr;
  transition: grid-template-columns 0.3s ease;
}

.side-bar {
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.logo-box {
  transition: all 0.5s ease;
}

.main-grid.collapsed {
  grid-template-columns: 0px 1fr;
}

.main-grid.collapsed .side-bar {
  transform: translateX(-300%);
}

.logo-box.hidden {
  transform: translateX(-300%);
  width: 5%;
  overflow: hidden;
}

.main-nav-box.non-collapsed {
  width: 95%;
}

.button-log-out {
  display: none;
  padding: 8px 30px;
  gap: 8px;
  border-style: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  background-color: #bfdbfe;
  color: #3b82f6;
  position: absolute;
  top: 135%;
  left: 10%;
  z-index: 9999;
  transition: all 0.3s ease-in-out;
}

.button-log-out.show {
  display: block;
}

.buttons-user-nav {
  position: relative;
}

.button-log-out:hover {
  color: white;
  background-color: #1d4ed8;
}

.jobs-count-boxes-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 4rem;
}

.stats-box {
  padding: 1rem;
}
.jobs-box {
  background-color: white;
  max-width: 380px;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 5px;
}
.jobs-count-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.jobs-count {
  font-weight: 700;
  font-size: 50px;
}
.category-heading {
  letter-spacing: 1px;
  font-size: 20px;
  color: black;
}
.category-svg-box svg {
  width: 32px;
  height: 32px;
}
.category-svg-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 60px;
}

.pending-jobs-svg-box {
  background-color: rgb(252, 239, 199);
}
.pending-jobs-svg-box svg {
  fill: rgb(233, 185, 73);
}
.pending-jobs-count {
  color: rgb(233, 185, 73);
}

.pending-jobs-box {
  border-bottom: 5px solid rgb(233, 185, 73);
}
.interview-jobs-svg-box {
  background-color: rgb(224, 232, 249);
}
.interview-jobs-svg-box svg {
  fill: rgb(100, 122, 203);
}
.interview-jobs-count {
  color: rgb(100, 122, 203);
}

.interview-jobs-box {
  border-bottom: 5px solid rgb(100, 122, 203);
}
.declined-jobs-svg-box {
  background-color: rgb(255, 238, 238);
}
.declined-jobs-svg-box svg {
  fill: rgb(214, 106, 106);
}
.declined-jobs-count {
  color: rgb(214, 106, 106);
}

.declined-jobs-box {
  border-bottom: 5px solid rgb(214, 106, 106);
}
.heading-applicaitons {
  text-align: center;
  margin-bottom: 0.75rem;
  font-weight: 400;
  font-size: 24px;
}
.chart-name {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 400;
  font-size: 20px;
  color: #3b82f6;
}
