  * {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
  }

  body {
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .form-box {
    color: #797d79;
    background-color: white;
    padding: 32px 40px;
    max-width: 320px;
    width: 100%;
    border-radius: 8px;
    border-top: 5px solid #3b82f6;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    user-select: none;
    position: absolute;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.4s ease;
    pointer-events: none;
  }

  .form-box.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .form-box form {
    display: flex;
    flex-direction: column;
  }

  .form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .form-fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
  }

  h1 {
    text-align: center;
    font-weight: 300;
  }

  .header-img,
  .form-wrapper p {
    margin-left: auto;
    margin-right: auto;
  }

  .header-img,
  h1 {
    margin-bottom: 20px;
  }

  input {
    padding: 8px 12px;
    background-color: #f0f4f8;
    border: 1px solid #bcccdc;
    border-radius: 5px;
  }

  .button {
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3b82f6;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }

  .button:hover {
    background-color: #1d4ed8;
  }

  .demo-button {
    background-color: #bfdbfe;
    color: #3b82f6;
  }

  .demo-button:hover {
    color: white;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
  }

  .register-text span {
    color: #3b82f6;
    cursor: pointer;
  }

  .login-form-box {
    z-index: 2;
  }

  .register-form-box {
    z-index: 1;
  }

  .notification-box {
    position: absolute;
    z-index: 9999;
    background-color: white;
    color: #5d6067;
    font-size: 16px;
    max-width: 350px;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding-bottom: 0;
    border-radius: 5px;
    transform: translateY(-1000px);
    transition: transform 1s ease;
    cursor: pointer;
  }

  .notification-icon-box svg {
    width: 36px;
    height: 36px;
  }

  .message-box-content {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px;
  }

  .close-button {
    height: 25px;
    width: 25px;
    align-self: flex-start;
    margin-left: auto;
    cursor: pointer;
    flex-shrink: 0;
  }

  .loading-bar {
    height: 5px;
    background: #07bc0c;
    margin-bottom: auto;
    width: 0%;
    transition: all 0.3s ease;
  }

  .submit-button-login,.submit-button-register{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .loader {
    display: none;
    width: 65px;
    aspect-ratio: 4;
    --_g: no-repeat radial-gradient(circle closest-side,#ffffff 90%,#ffffff00);
    background: 
      var(--_g) 0%   50%,
      var(--_g) 50%  50%,
      var(--_g) 100% 50%;
    background-size: calc(100%/3) 100%;
    animation: l7 1s infinite linear;
  }
  @keyframes l7 {
      33%{background-size:calc(100%/3) 0%  ,calc(100%/3) 100%,calc(100%/3) 100%}
      50%{background-size:calc(100%/3) 100%,calc(100%/3) 0%  ,calc(100%/3) 100%}
      66%{background-size:calc(100%/3) 100%,calc(100%/3) 100%,calc(100%/3) 0%  }
  }